#sidebar {
  position: 'absolute';
  top: 0;
  left: 0;
  float: left;
  clear: both;
  width: 25%;
  height: 100%;
  padding: 8px;
}

.btn-color {
  transition: transform 250ms !important;
  margin: 4px !important;
  -moz-box-shadow: 0 0 2px 2px #CCC !important;
  -webkit-box-shadow: 0 0 2px 2px #CCC !important;
}

.btn-group {
  display: block !important;
  margin-bottom: 8px !important;
}

.btn-color:hover {
  transform: scale(1.2);
}

.shadow {
  -moz-box-shadow: 0 0 12px 8px #CCC;
  -webkit-box-shadow: 0 0 12px 8px #CCC;
}

.shape-type {
  padding-left: 2em !important;
}

.shape-type * {
  display: block !important;
}
